$white: rgba(255, 255, 255, 1);
$black: rgba(51, 17, 17, 1);
$yellow: rgba(251, 211, 54, 1);
$gray: rgba(239, 233, 224, 1);

%font-button-text {
  font-size: 14px;
  font-weight: 700;
  text-align: 'center';
  line-height: 1;
}

@function mixWhite($color, $percentage) {
  @return mix($color-1: $white, $color-2: $color, $weight: $percentage);
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
